<div class="card text-center">
    <!-- SELECTION BUTTONS -->
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Fastest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cheapest</a>
        </li>
      </ul>
    </div>


    <!-- BODY -->
    <ul class="list-group">
      <div class="list-group-item" style="cursor: pointer;" *ngFor = 'let flightDetail of flightDetails'>
        <div class="card-body">     
          <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title d-flex justify-content-start">Flight number details</h5>
                  <div class = "d-flex justify-content-between">
                      <img src="../assets/aa.png"  alt="..." width="100" height="100">
                      <p>	{{flightDetail.departureTime | date:'short'}}<br>{{flightDetail.sourceAirportCode}}</p>
                      <p>{{getTimetoDisplay(flightDetail.duration)}}</p>
                      <p>{{flightDetail.arrivalTime | date:'short'}}<br>{{flightDetail.destinationAirportCode}}</p>
                  </div>
                  

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">${{flightDetail.price}} </h5>
                  <p class="card-text">Price for all travellers<br>Include carry-on Bag, personal item</p>
                  <a class="btn btn-primary" name="seeFlight" (click)="openXl(flightDetail.Id)">See Flight details</a>
                </div>
              </div>
    
          </div>
      </div>
      </div>
    </ul>


</div> 


