<!-- PRANALI -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header d-flex ">
          <a href="#" class="navbar-brand">Bootstrap</a>
      </div>


      <div class="navbar-header">
          <div class="container-fluid d-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
          </div>    
      </div>

  </div>
</nav> -->

<!--PRASANN  -->
<nav class="navbar">
  <div class="container-fluid  d-flex justify-content-center">
          <a href="#" class="navbar-brand">Bootstrap</a>
          <button type="button" class="btn btn-outline-primary d-flex justify-content-end">Primary</button>   
          <button type="button" class="btn btn-outline-primary d-flex justify-content-end">Secondary</button>  
  </div>
</nav>


<nav class="navbar navbar-default">
  <div class="container-fluid justify-content-center">

      <div class="nav justify-content-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
       </div>
  </div>
</nav>




<!-- <nav class="navbar fixed-top" style="background-color: #403a61">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">Bootstrap</a>
    <div  class = "d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
  </div>


  
 <div class="nav justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
 </div>
</nav>  -->
