<div class="container" *ngIf="hotelListing" width="100%">

  <div class="card text-center">
     <!-- SELECTION BUTTONS -->
     <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active' : sortType=='rating'}" aria-current="sortType=='rating'" (click) = "onSort('rating')">Most Rated</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active' : sortType=='price'}" aria-current="sortType=='price'" (click) = "onSort('price')">Cheapest</a>
        </li>
      </ul>
    </div>

    <!-- BODY -->
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <app-hotel-listing-filter></app-hotel-listing-filter>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <div class="list-group-item" style="cursor: pointer;" *ngFor='let hotelList of hotelListing'>
                <div class="card-body">
                  <div class="card-group">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <img src="../assets/hotels.png" alt="..." width="200" height="150">
                        </div>


                      </div>
                    </div>
                    <div class="card ">
                      <div class="card-body ">
                        <div class="ea9bf183d3 d14b211b4f febf9d5862 af9697be6b d7ff3c30ad e278108e40 e04c8ab03a ea9bf183d3 d9c681337c e278108e40 dd023375f5 a4225678b2 ">
                            <a href = ""><h2><div data-testid="title" class="fcab3ed991 a23c043802"> {{hotelList.hotelName}}</div></h2></a>
                        </div>
                        <div class="a51f4b5adb">
                        
                          {{hotelList.state}} • {{hotelList.city}} </div>
                        <br>
                        <a class="btn btn-primary" name="seeHotel" >See Hotel details</a>

                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>