<p> HotelState: {{hotelDetails.State}}</p>
<p> HotelCity: {{hotelDetails.City}}</p>
<p> HotelName: {{hotelDetails.Hotelname}}</p>
<p> HotelRating: {{hotelDetails.Rating}}</p>
<p> HotelStandardPrice{{hotelDetails.StandardPrice}}</p>
<p> HotelAdress: {{hotelDetails.Address}}</p>
<p> HotelAmenities: {{hotelDetails.Amenities}}</p>
<button type="button" class="btn btn-outline-dark" name="selectFlight" (click)="close()">Select</button>
<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
