<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">

    <br><br>

    <div class = "d-flex justify-content-center">
        <div class="form-check form-check-inline " style = "font-size: 20px; padding: 10px;"> 
            <input class="form-check-input" type="radio" id="round-trip" name="no_of_trip" value="true" formControlname="no_of_trip" (change)="changeTrip($event)" checked>
            <label class="form-check-label" for="inlineRadio1">Round</label>
        </div>

    
        
        <div class="form-check form-check-inline" style = "font-size: 20px;padding: 10px;">
            <input class="form-check-input" type="radio" id="one-time" name="no_of_trip" value="false" formControlname="no_of_trip" (change)="changeTrip($event)">
            <label class="form-check-label" for="inlineRadio2">One-time</label>
        </div>
    </div>

   <div class = "d-flex justify-content-center">
    <div class="form-row" style = "font-size: 20px">
        <div class="col-xs-18">
            <input type="text" name="sourceAirport" aria-label="source" class="form-control mdb-autocomplete" placeholder="Where from?" [formControl]="sourceAirport" formControlName="sourceAirport" (input)="suggestSource()">
            <div class="suggestions" *ngIf="sourceSuggestions.length">
                <div *ngFor="let s of sourceSuggestions">
                    <a style="cursor: pointer;" name="sourceSuggestions" routerlinkactive="active" (click)="onSourceSelect(s.airportCode)">
                        <span class="pull-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewbox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </span>
                        <div class="pull-right">
                            <h4 class="list-group-item-heading">{{s.airportCode}}</h4>
                            <p class="list-group-item-text">{{s.airportName}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-18">
            <input type="text" name="destinationAirport" aria-label="destination" class="form-control" placeholder="Where to?" [formControl]="destinationAirport" formControlName="destinationAirport" (input)="suggestDestination()">
            <div class="suggestions" *ngIf="destinationSuggestions.length">
                <div *ngFor="let s of destinationSuggestions">
                    <a style="cursor: pointer;" name="destinationSuggestions" routerlinkactive="active" (click)="onDestinationSelect(s.airportCode)">
                        <span class="pull-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewbox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </span>
                        <div class="pull-right">
                            <h4 class="list-group-item-heading">{{s.airportCode}}</h4>
                            <p class="list-group-item-text">{{s.airportName}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col" *ngIf='tripInfo === true'>
            <ngbd-datepicker-range-popup (callFlightSearch)="getDateRange($event)">

                
            </ngbd-datepicker-range-popup>
           
        </div>
        <div class="col" *ngIf='tripInfo === false'>
            <ngbd-datepicker-popup></ngbd-datepicker-popup>
        </div>

        <div >
            <button type="submit" class="btn btn-primary" id="flightSearch">Submit</button>
        </div>
    </div>
   </div>
</form>

<div>
    <app-flight-listing></app-flight-listing>
</div>



