
<div class="container" *ngIf="flightDetails" width="100%">
  <div class="card text-center">
    <!-- SELECTION BUTTONS -->
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active' : sortType=='duration'}" aria-current="sortType=='duration'" (click) = "onSort('duration')">Fastest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active' : sortType=='price'}"  aria-current="sortType=='price'"  (click) = "onSort('price')">Cheapest</a>
        </li>
      </ul>
    </div>


    <!-- BODY -->
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <app-flight-listing-filter></app-flight-listing-filter>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <ul class="list-group">
            <div class="list-group-item" style="cursor: pointer;" *ngFor = 'let flightDetail of flightDetails'>
              <div class="card-group">
                <div class="card col-md-8">
                  <div class="card" style="border: none;">
                    <div class="card-body">
                      <h5 class="card-title d-flex justify-content-start">Flight number details</h5>
                      <div class = "d-flex justify-content-between">
                          <img src="../assets/aa.png"  alt="..." width="50" height="50">
                          <p style="font-size: 14px;">	{{flightDetail.departureTime | date:'short'}}<br>{{flightDetail.sourceAirportCode}}</p>
                          <p style="font-size: 14px;">{{getTimetoDisplay(flightDetail.duration)}}</p>
                          <p style="font-size: 14px;">{{flightDetail.arrivalTime | date:'short'}}<br>{{flightDetail.destinationAirportCode}}</p>
                      </div>
                      <hr *ngIf="flightDetail.reId">
                      <div *ngIf="flightDetail.reId" class = "d-flex justify-content-between">
                        <img src="../assets/aa.png"  alt="..." width="50" height="50">
                        <p style="font-size: 14px;">	{{flightDetail.reDepartureTime | date:'short'}}<br>{{flightDetail.reSourceAirportCode}}</p>
                        <p style="font-size: 14px;">{{getTimetoDisplay(flightDetail.reDuration)}}</p>
                        <p style="font-size: 14px;">{{flightDetail.reArrivalTime | date:'short'}}<br>{{flightDetail.reDestinationAirportCode}}</p>
                    </div>                 
                    </div>
                  </div>
                </div>
                <div class="card col-md-4">
                  <div class="card" style="border: none;">
                    <div class="card-body">
                      <h5 *ngIf="!flightDetail.reId" class="card-title">${{flightDetail.price}} </h5>
                      <h5 *ngIf="flightDetail.reId" class="card-title">${{flightDetail.price + flightDetail.rePrice}} </h5>
                      <p class="card-text">Price for all travellers<br>Include carry-on Bag, personal item</p>
                      <a class="btn btn-primary" name="seeFlight" (click)="openXl(flightDetail.id, flightDetail.departureTime, flightDetail.reId, flightDetail.reDepartureTime)">See Flight details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    
    


</div> 
</div>



