<p>Bookings</p>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active' : navButtonChoice=='flight'}" (click)="selectFlightBooking()" >Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active' : navButtonChoice=='hotel'}" (click)="selectHotelBooking()" >Hotels</a>
    </li>
</ul>

<table *ngIf="navButtonChoice=='flight'" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Reference Booking ID</th>
    <th scope="col">Source</th>
    <th scope="col">Destination</th>
    <th scope="col">Departure Date</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let userFlightBooking of userFlightBookings; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ userFlightBooking.referenceNumber }}
    </td>
    <td>{{ userFlightBooking.source}}</td>
    <td>{{ userFlightBooking.destination}}</td>
    <td>{{ userFlightBooking.bookingDates}}</td>
    <td>{{ userFlightBooking.price}}</td>
  </tr>
  </tbody>
</table>


<table *ngIf="navButtonChoice=='hotel'" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reference Booking ID</th>
      <th scope="col">Hotel Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Booking date</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let userHotelBooking of userHotelBookings; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ userHotelBooking.Referencenumber }}
      </td>
      <td>{{ userHotelBooking.hotelName }}</td>
      <td>{{ userHotelBooking.city }}</td>
      <td>{{ userHotelBooking.state }}</td>
      <td>{{ userHotelBooking.bookingdates }}</td>
      <td>{{ userHotelBooking.price }}</td>
    </tr>
    </tbody>
  </table>